kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: default-key
              secret: {{ encryption_secret }}
      - identity: {}