{
  "CN": "system:node:{{ ansible_hostname }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "Houston",
      "O": "system:nodes",
      "OU": "k8s the less hard way",
      "ST": "Texas"
    }
  ]
}
