{
  "cniVersion": "1.1.0",
  "name": "bridge",
  "plugins": [
    {
      "type": "bridge",
      "bridge": "cni0", 
      "ipam": {
        "type": "host-local",
        "subnet": "{{ cluster_cidr }}"
        "gateway": "{{ cluster_cidr_gateway }}",
        "routes": [
            {"dst": "0.0.0.0/0"}
        ]
      },
      "dns": {
        "nameservers": [ "{{ pod_cidr_gateway }}" ]
      }
    },
    {
      "type": "tuning",
      "capabilities": {
        "mac": true
      },
      "sysctl": {
        "net.core.somaxconn": "500"
      }
    },
    {
        "type": "portmap",
        "capabilities": {"portMappings": true}
    }
  ]
}